<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home Page - Microblog</title>
      <style>
        /* Import font */
        @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

        body {
          /* Change default font */
          font-family: Raleway, sans-serif;
        }
      </style>

  </head>

  <body>
    <h1>{{ content.Title }}</h1>
    <h4>Release Date: {{ content.Released }}</h4>
    <h4>Runtime :  {{ content.Runtime }}</h4>
    <h4>Genre :  {{ content.Genre }}</h4>
    <h4>Awards :  {{ content.Awards }}</h4>
    <img src="{{ content.Poster }}"/>
    <p>{{ content.Plot }}</p>
  </body>
</html>
